Repository Skeptomenos/Portfolio-Prism-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(contracts): add pipeline phase contracts with validation gates
  CHANGELOG.md
  src-tauri/python/portfolio_src/core/contracts/__init__.py
  src-tauri/python/portfolio_src/core/contracts/converters.py
  src-tauri/python/portfolio_src/core/contracts/gates.py
  src-tauri/python/portfolio_src/core/contracts/quality.py
  src-tauri/python/portfolio_src/core/contracts/schemas.py
  src-tauri/python/portfolio_src/core/contracts/validation.py
  src-tauri/python/tests/contracts/__init__.py
  src-tauri/python/tests/contracts/factories.py
  src-tauri/python/tests/contracts/test_converters.py
  src-tauri/python/tests/contracts/test_gates.py
  src-tauri/python/tests/contracts/test_quality.py
  src-tauri/python/tests/contracts/test_schemas.py
  src-tauri/python/tests/contracts/test_smoke.py
  src-tauri/python/tests/contracts/test_validation.py
  tasks/phase1_contracts_prd.json
Due: prettier --write

docs: add Phase 2 Validation Gates PRD and Ralph automation scripts
  docs/PRD_PHASE2_VALIDATION_GATES.md
  scripts/ralph/.last-branch
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
  scripts/ralph/ralph.sh
Due: prettier --write

feat: [US-001] - Add ValidationGates import and instance variable to Pipeline class
  src-tauri/python/portfolio_src/core/pipeline.py
Due: none

feat: [US-002] - Initialize ValidationGates at pipeline run start
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-003] - Add _log_validation_issues helper method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-004] - Add _build_load_phase_output helper method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-005] - Add Phase 1 (Load) validation call
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-006] - Add _get_etf_value helper method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-007] - Add _build_decompose_phase_output helper method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-008] - Add Phase 2 (Decompose) validation call
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-009] - Add _build_enrich_phase_output helper method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-010] - Add Phase 3 (Enrich) validation call
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-011] - Add _build_aggregate_phase_output helper method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-012] - Add Phase 4 (Aggregate) validation call
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-013] - Update _write_health_report to accept validation_gates parameter
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-014] - Update _write_health_report call site to pass validation_gates
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-015] - Add integration test for ValidationGates in Pipeline
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src-tauri/python/tests/contracts/test_integration.py
Due: prettier --write

feat: [US-016] - Verify end-to-end pipeline produces quality report
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: prettier --write

docs: Update progress.txt with consolidated codebase patterns
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: prettier --write

WIP: Sync changes for ralph run - validation gates and phase 3 PRD
  docs/PIPELINE_HARDENING_PLAN.md
  docs/PRD_PHASE3_QUALITY_PROPAGATION.md
  scripts/ralph/prd-phase3.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
  scripts/ralph/ralph.sh
  src/components/views/Dashboard.tsx
Due: eslint --fix, prettier --write

feat(health): add Data Quality section to Health tab (Phase 3)
  src/components/views/HealthView.tsx
Due: eslint --fix, prettier --write

docs: update pipeline hardening plan - Phase 3 complete
  docs/PIPELINE_HARDENING_PLAN.md
Due: none

feat: [US-001] - Add rate limits for new telemetry error types
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
  scripts/ralph/ralph.sh
  src-tauri/python/portfolio_src/prism_utils/telemetry.py
Due: prettier --write

feat: [US-002] - Add report_weight_validation_failure method
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/prism_utils/telemetry.py
Due: prettier --write

feat: [US-003] - Add report_enrichment_gap method
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/prism_utils/telemetry.py
Due: prettier --write

feat: [US-004] - Add report_quality_summary method
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/prism_utils/telemetry.py
Due: prettier --write

feat: [US-006] - Integrate weight validation telemetry in pipeline
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-007] - Integrate quality summary telemetry in pipeline
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/pipeline.py
Due: prettier --write

feat: [US-008] - Add unit tests for new telemetry methods
  src-tauri/python/tests/test_telemetry.py
Due: none

docs: mark Phase 4 complete - all 8 user stories done
  scripts/ralph/prd-phase4.json
  scripts/ralph/progress.txt
Due: prettier --write

docs: update pipeline hardening plan - Phase 4 complete
  docs/PIPELINE_HARDENING_PLAN.md
Due: none

feat: create PRD for Phase 5 - 12 bug fixes with TDD approach
  scripts/ralph/prd-phase5.json
  scripts/ralph/progress.txt
  scripts/ralph/ralph.sh
Due: prettier --write

feat(ralph): run until completion by default, no iteration limit
  scripts/ralph/ralph.sh
Due: none

feat: [US-001] - Fix NaN handling in asset_class split
  src-tauri/python/portfolio_src/core/pipeline.py
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: none

feat: US-002 - Add weight format auto-detection in decomposer
  src-tauri/python/portfolio_src/core/services/decomposer.py
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: none

feat: US-003 - Make Hive contribution asynchronous
  scripts/ralph/prd-phase5.json
  scripts/ralph/progress.txt
  src-tauri/python/portfolio_src/core/services/decomposer.py
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: prettier --write

feat: US-004 - Fix first-wins aggregation to use highest confidence
  src-tauri/python/portfolio_src/core/services/aggregator.py
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: none

feat: [US-005] - Verify and fix vectorized value calculation
  scripts/ralph/prd-phase5.json
  scripts/ralph/progress.txt
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: prettier --write

feat: US-006 - Add ISIN deduplication before enrichment
  src-tauri/python/portfolio_src/core/services/enricher.py
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: none

feat: [US-007] - Add division by zero protection in aggregator
  src-tauri/python/portfolio_src/core/services/aggregator.py
  src-tauri/python/tests/test_phase5_bugfixes.py
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs})) or (any of: *.{json,css})
