Repository Skeptomenos/Portfolio-Prism-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(security): update pytr to 0.4.5 + add pip-audit security scanning
  .github/workflows/ci.yml
  IMPLEMENTATION_PLAN.md
  src-tauri/python/pyproject.toml
Due: none

feat(security): production CSP hardening with environment-specific configs
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  docs/security/CSP.md
  package.json
  src-tauri/tauri.conf.json
  src-tauri/tauri.prod.conf.json
Due: prettier --write

security(tauri): add explicit sidecar scoping to shell permissions
  IMPLEMENTATION_PLAN.md
  src-tauri/capabilities/default.json
Due: prettier --write

feat(security): harden observability + enable KV-based rate limiting
  IMPLEMENTATION_PLAN.md
  infrastructure/cloudflare/worker.js
  infrastructure/cloudflare/wrangler.toml
Due: eslint --fix, prettier --write

security(worker): add payload size validation for feedback/report endpoints
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  infrastructure/cloudflare/worker.js
Due: eslint --fix, prettier --write

security(worker): implement environment-based CORS policy
  IMPLEMENTATION_PLAN.md
  infrastructure/cloudflare/worker.js
Due: eslint --fix, prettier --write

fix(pipeline): atomic JSON writes + public telemetry accessor
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/core/pipeline.py
  src-tauri/python/portfolio_src/core/utils.py
  src-tauri/python/portfolio_src/prism_utils/telemetry.py
Due: none

fix(state): add thread-safe singleton with double-checked locking
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/state.py
Due: none

fix(database): propagate migration failures instead of swallowing
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/database.py
Due: none

fix(hive_client): Fix cache expiry timezone handling
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/hive_client.py
Due: none

fix(hooks): clarify useXRayData API and add xray query invalidation
  IMPLEMENTATION_PLAN.md
  src/hooks/usePortfolioData.test.tsx
  src/hooks/usePortfolioData.ts
Due: eslint --fix, prettier --write

fix(tr_bridge): validate response ID matches request ID
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/core/tr_bridge.py
Due: none

Remove unused get_pipeline() singleton from state.py
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/state.py
Due: none

fix(database): remove unused connection cache dead code
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/database.py
Due: none

fix(5.3.1): Add guard to notification auto-dismiss timer
  IMPLEMENTATION_PLAN.md
  src/store/useAppStore.ts
Due: eslint --fix, prettier --write

fix(5.3.2): Add guard to toast auto-dismiss timer
  IMPLEMENTATION_PLAN.md
  src/store/useAppStore.ts
Due: eslint --fix, prettier --write

fix(auth): prevent useEffect race condition in TwoFactorModal (5.3.3)
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  src/components/auth/TwoFactorModal.tsx
Due: eslint --fix, prettier --write

fix(security): clear credentials on component unmount
  IMPLEMENTATION_PLAN.md
  src/components/views/TradeRepublicView.tsx
Due: eslint --fix, prettier --write

docs: add Echo Bridge token documentation and runtime warning (Phase 6.1)
  .env.example
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/transports/echo_bridge.py
  src/lib/ipc.ts
Due: eslint --fix, prettier --write

fix(security): bind headless engine to localhost + log silent exceptions (Phase 6.2)
  IMPLEMENTATION_PLAN.md
  src-tauri/python/prism_headless.py
Due: none

docs(security): document credential transmission security model in tr_bridge.py
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/core/tr_bridge.py
Due: none

docs(security): document race condition safety invariants in python_engine.rs
  IMPLEMENTATION_PLAN.md
  src-tauri/src/python_engine.rs
Due: none

docs(observability): improve fallback logging in hive_client.py (Phase 6.5)
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/hive_client.py
Due: none

fix(a11y): add accessibility attributes to Toast component
  IMPLEMENTATION_PLAN.md
  src/components/ui/Toast.tsx
Due: eslint --fix, prettier --write

fix(main): add root element null check with fallback
  IMPLEMENTATION_PLAN.md
  src/main.tsx
Due: eslint --fix, prettier --write

perf(tauri): cache Tauri API module imports
  IMPLEMENTATION_PLAN.md
  src/lib/tauri.ts
Due: eslint --fix, prettier --write

test(feedback): add comprehensive test coverage for FeedbackDialog
  IMPLEMENTATION_PLAN.md
  src/components/feedback/FeedbackDialog.test.tsx
Due: eslint --fix, prettier --write

feat(tr_sync): replace manual CSV escaping with stdlib + add unit tests
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/tr_sync.py
  src-tauri/python/tests/test_tr_sync.py
Due: none

fix(scrubber): align ISIN hash with backend SHA-256
  IMPLEMENTATION_PLAN.md
  src/lib/scrubber.test.ts
  src/lib/scrubber.ts
Due: eslint --fix, prettier --write

feat(feedback): scrub PII from payload and add request timeout
  IMPLEMENTATION_PLAN.md
  src/lib/api/feedback.test.ts
  src/lib/api/feedback.ts
Due: eslint --fix, prettier --write

feat(auth): expand phone validation for all Trade Republic markets
  IMPLEMENTATION_PLAN.md
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
Due: eslint --fix, prettier --write

feat(auth): add PIN state timeout for security
  IMPLEMENTATION_PLAN.md
  src/components/auth/LoginForm.tsx
Due: eslint --fix, prettier --write

feat(auth): add local rate limiting on 2FA attempts
  IMPLEMENTATION_PLAN.md
  src/components/auth/TwoFactorModal.test.tsx
  src/components/auth/TwoFactorModal.tsx
Due: eslint --fix, prettier --write

refactor(Dashboard): extract DashboardSkeleton to shared ui/Skeleton component
  IMPLEMENTATION_PLAN.md
  src/components/ui/Skeleton.tsx
  src/components/views/Dashboard.tsx
Due: eslint --fix, prettier --write

refactor(Dashboard): extract TopHoldingsCard component
  IMPLEMENTATION_PLAN.md
  src/components/views/Dashboard.tsx
  src/components/views/TopHoldingsCard.tsx
Due: eslint --fix, prettier --write

refactor(Dashboard): extract TrueExposureCard component
  IMPLEMENTATION_PLAN.md
  src/components/views/Dashboard.tsx
  src/components/views/TrueExposureCard.tsx
Due: eslint --fix, prettier --write

fix(Dashboard): add null safety for history array
  IMPLEMENTATION_PLAN.md
  src/components/views/Dashboard.tsx
Due: eslint --fix, prettier --write

chore(pnpm): remove package-lock.json for pnpm migration
  package-lock.json
  ralph-wiggum/.gitignore
  ralph-wiggum/code/plan.md
  ralph-wiggum/specs/00-pnpm-migration.md
  ralph-wiggum/specs/01-frontend-architecture.md
  ralph-wiggum/specs/02-backend-architecture.md
  ralph-wiggum/specs/03-frontend-safety.md
  ralph-wiggum/specs/04-backend-standards.md
  ralph-wiggum/specs/05-testing-organization.md
  ralph-wiggum/specs/06-python-tooling.md
  ralph-wiggum/specs/review-fixes.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs})) or (any of: *.{json,css})
