Repository Skeptomenos/Portfolio-Prism-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: remove gitkeep placeholders, add untracked files from migration
  ralph-wiggum/discover/inbox/.gitkeep
  ralph-wiggum/product/inbox/.gitkeep
  ralph-wiggum/research/inbox/.gitkeep
  src/features/xray/lib/pipelineIssues.ts
  tests/integration/ipc.test.ts
Due: eslint --fix, prettier --write

chore: remove .sisyphus/ plans (migrated to monorepo wrapper)
  .sisyphus/plans/comprehensive-refactor.md
  .sisyphus/plans/python-type-mitigation.md
Due: none

chore: remove planning files and session data (migrated to wrapper)
  INITIATOR.md
  PROJECT_CONTEXT.md
  archive/2026-01-26-main/AGENTS.md
  docs/MISSION.md
  docs/lessons_learned.md
  reviews/PYTHON_TYPE_ISSUES.md
  scripts/ralph/.last-branch
  scripts/ralph/prd-phase4.json
  scripts/ralph/prd-phase5.json
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
  scripts/ralph/ralph.sh
  sessions/investigat-why-the-holdings-view-10/meta.json
  sessions/investigat-why-the-holdings-view-10/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-2/meta.json
  sessions/investigat-why-the-holdings-view-2/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-3/meta.json
  sessions/investigat-why-the-holdings-view-3/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-4/meta.json
  sessions/investigat-why-the-holdings-view-4/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-5/meta.json
  sessions/investigat-why-the-holdings-view-5/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-6/meta.json
  sessions/investigat-why-the-holdings-view-6/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-7/meta.json
  sessions/investigat-why-the-holdings-view-7/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-8/meta.json
  sessions/investigat-why-the-holdings-view-8/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view-9/meta.json
  sessions/investigat-why-the-holdings-view-9/models/gpt-5.2-pro.json
  sessions/investigat-why-the-holdings-view/meta.json
  sessions/investigat-why-the-holdings-view/models/gpt-5.2-pro.json
Due: prettier --write

feat: stabilize auth and report IPC contracts
  src-tauri/python/portfolio_src/headless/handlers/__init__.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_tr_auth.py
  src-tauri/python/portfolio_src/headless/handlers/tr_auth.py
  src-tauri/python/portfolio_src/headless/test_dispatcher.py
  src-tauri/python/portfolio_src/headless/transports/test_transports.py
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/App.test.tsx
  src/App.tsx
  src/features/auth/api.ts
  src/features/auth/components/SessionRestorePrompt.test.tsx
  src/features/auth/components/SessionRestorePrompt.tsx
  src/features/auth/schemas.ts
  src/features/integrations/api.ts
  src/features/integrations/components/TradeRepublicView.test.tsx
  src/features/integrations/components/TradeRepublicView.tsx
  src/features/integrations/index.ts
  src/lib/ipc.test.ts
  src/lib/ipc.ts
  src/lib/schemas/ipc.test.ts
  src/lib/schemas/ipc.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: improve diagnostics, holdings, and xray flows
  src-tauri/python/portfolio_src/core/contracts/__init__.py
  src-tauri/python/portfolio_src/core/contracts/pipeline_report.py
  src-tauri/python/portfolio_src/core/data_cleaner.py
  src-tauri/python/portfolio_src/core/pipeline.py
  src-tauri/python/portfolio_src/headless/handlers/holdings.py
  src-tauri/python/portfolio_src/headless/handlers/telemetry.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_holdings.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_telemetry.py
  src-tauri/python/tests/contracts/test_pipeline_report.py
  src-tauri/python/tests/test_pipeline_e2e.py
  src/components/views/HealthView.test.tsx
  src/components/views/HealthView.tsx
  src/features/dashboard/components/Dashboard.tsx
  src/features/integrations/components/HoldingsUpload.tsx
  src/features/portfolio/components/HoldingsView.test.tsx
  src/features/portfolio/components/HoldingsView.tsx
  src/features/xray/components/ActionModal.test.tsx
  src/features/xray/components/ActionModal.tsx
  src/features/xray/components/XRayView.tsx
  src/features/xray/hooks/usePipelineDiagnostics.ts
  src/features/xray/index.ts
  src/features/xray/lib/pipelineIssues.ts
  src/features/xray/types.ts
  src/lib/queryClient.ts
  src/test/mocks/handlers.ts
  src/test/mocks/ipc.ts
  src/test/mocks/tauri.ts
  tests/integration/ipc.test.ts
Due: eslint --fix, prettier --write

test: add selftest harness and replay commands
  package.json
  playwright.config.ts
  scripts/codex/dev-down.sh
  scripts/codex/dev-up.sh
  scripts/codex/healthcheck.sh
  scripts/codex/smoke-ui.sh
  scripts/codex/test-changed.sh
  scripts/prism.py
  scripts/selftest/_common.sh
  scripts/selftest/dev-down.sh
  scripts/selftest/dev-up.sh
  scripts/selftest/dogfood-real-snapshot.sh
  scripts/selftest/healthcheck.sh
  scripts/selftest/install-shared-skills.sh
  scripts/selftest/record-sync-snapshot.sh
  scripts/selftest/replay-sync-snapshot.sh
  scripts/selftest/smoke-ui.sh
  scripts/selftest/test-changed.sh
  scripts/selftest/verify-shared-skills.sh
  tests/e2e/selftest-smoke.spec.ts
  tests/integration/selftest-scripts.test.ts
  tests/integration/setup.ts
Due: eslint --fix, prettier --write

docs: add opencode execution plans and runbooks
  AGENTS.md
  docs/execution/codex-install-config-plan.md
  docs/execution/codex-self-testing-capabilities.md
  docs/execution/live-ui-qa-report-2026-03-06.md
  docs/execution/opencode-self-testing-runbook.md
  docs/execution/project-overview-live.md
  docs/execution/self-testing-capability-gap-report-2026-03-07.md
  docs/execution/stabilization-and-self-dogfood-plan.md
  docs/plans/2026-03-07-opencode-self-test-migration.md
  docs/plans/2026-03-08-session-restore-dogfood-fix-plan.md
  report.md
Due: none

docs: add dogfood evidence artifacts
  output/playwright/dogfood/dashboard-auth-restore.png
  output/playwright/dogfood/dashboard-live-pass.png
  output/playwright/dogfood/dashboard-view.png
  output/playwright/dogfood/feedback-after-submit-live-pass.png
  output/playwright/dogfood/feedback-filled-live-pass.png
  output/playwright/dogfood/feedback-view.png
  output/playwright/dogfood/health-live-pass.png
  output/playwright/dogfood/health-view.png
  output/playwright/dogfood/holdings-feedback-live-pass.png
  output/playwright/dogfood/holdings-live-pass.png
  output/playwright/dogfood/holdings-view.png
  output/playwright/dogfood/issue-003-xray-no-data-after-analysis.png
  output/playwright/dogfood/pipeline_errors.json
  output/playwright/dogfood/pipeline_health.json
  output/playwright/dogfood/session-restore-prompt.png
  output/playwright/dogfood/trade-republic-after-restore-click.png
  output/playwright/dogfood/trade-republic-view.png
  output/playwright/dogfood/true_exposure_report.csv
  output/playwright/dogfood/xray-after-run.png
  output/playwright/dogfood/xray-before-run.png
  output/playwright/dogfood/xray-live-pass.png
  output/playwright/dogfood/xray-loading.png
  output/playwright/smoke/health.png
  output/playwright/smoke/home.png
  playwright-report/data/7a33d5db6370b6de345e990751aa1f1da65ad675.png
  playwright-report/index.html
  src-tauri/python/.last_build_hash
  test-results/.last-run.json
Due: prettier --write

test: fix pipeline report envelope assertion
  tests/integration/ipc.test.ts
Due: eslint --fix, prettier --write

chore: update AGENTS.md, lockfile, and add devops rules
  .entire/metadata/ses_3322312e0ffeNrsCQ7KGvtsLsp/full.jsonl
  .entire/metadata/ses_3322312e0ffeNrsCQ7KGvtsLsp/prompt.txt
  .entire/metadata/ses_3322312e0ffeNrsCQ7KGvtsLsp/summary.txt
  .entire/tmp/ses_3322312e0ffeNrsCQ7KGvtsLsp.json
  AGENTS.md
  pnpm-lock.yaml
  rules/devops.md
Due: prettier --write

docs: rewrite AGENTS.md with project context, dogfood-as-definition-of-done, and pre-code gate
  AGENTS.md
Due: none

fix: TRDaemon._get_data_dir() respects PRISM_DATA_DIR env var
  src-tauri/python/portfolio_src/core/tr_daemon.py
  src-tauri/python/tests/test_tr_daemon_unit.py
Due: none

fix: remove duplicated sync/auth ownership from SessionRestorePrompt
  src/features/auth/components/SessionRestorePrompt.test.tsx
  src/features/auth/components/SessionRestorePrompt.tsx
Due: eslint --fix, prettier --write

test: add dogfood route E2E specs and fix auth.spec.ts for any auth state
  tests/e2e/auth.spec.ts
  tests/e2e/dogfood-routes.spec.ts
Due: eslint --fix, prettier --write

docs: update session restore fix plan with live test evidence
  docs/plans/2026-03-08-session-restore-dogfood-fix-plan.md
  output/playwright/dogfood/restore-prompt-before-click.png
  output/playwright/dogfood/restore-success-after-click.png
Due: none

docs: add pipeline stabilization plan with investigation findings
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: log headed pipeline dogfood results and required fixes
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
  output/playwright/dogfood/health-after-pipeline.png
  output/playwright/dogfood/holdings-after-pipeline.png
  output/playwright/dogfood/xray-action-queue.png
  output/playwright/dogfood/xray-hive-log.png
  output/playwright/dogfood/xray-resolution-table.png
Due: none

docs: transform pipeline findings into detailed implementation plan
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: verified root causes and consolidated pipeline implementation plan
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

fix: resource_path() overshooting by 1 dir level, preventing config deployment
  output/playwright/dogfood/xray-after-p01-fix.png
  src-tauri/python/portfolio_src/headless/lifecycle.py
  src-tauri/python/portfolio_src/headless/test_lifecycle.py
Due: none

fix: pipeline success now derived from ETF processing ratio, not hardcoded
  src-tauri/python/portfolio_src/core/pipeline.py
  src-tauri/python/tests/test_pipeline_smoke.py
Due: none

docs: mark P-01 and P-07 as complete with verified results
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: sync issue index statuses with completed P-01 and P-07
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: critical finding P-11 - ISIN resolution at 0% due to weight column mismatch
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: add ISIN-first domain context, P-11 root cause evidence, updated execution order
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: 100% ISIN enrichment as primary objective, Phase 0 test suite added
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: P-11 verified both decomposer functions have same weight column bug
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: add spec targets from identity_resolution docs to Phase 0
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

fix: add weight_percentage to decomposer column lookup, enabling ISIN resolution
  output/playwright/dogfood/xray-after-p11-fix.png
  src-tauri/python/portfolio_src/core/services/decomposer.py
  src-tauri/python/tests/test_pipeline_smoke.py
Due: none

docs: P-11 COMPLETE - 99.9% ISIN resolution achieved (852/853 holdings)
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: add P-13 through P-16 from post-pipeline observations
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: create pipeline definition of done spec + add P-17/P-18 to plan
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
  docs/specs/pipeline_definition_of_done.md
Due: none

docs: synchronize identity resolution architecture, spec, and pipeline DoD
  docs/architecture/identity_resolution.md
  docs/specs/identity_resolution_details.md
  docs/specs/pipeline_definition_of_done.md
Due: none

docs: add staleness rationale to DoD - 30 day threshold, reducible later
  docs/specs/pipeline_definition_of_done.md
Due: none

docs: complete plan review - fix all gaps, add dogfood log, implementation sections for P-12 through P-18
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: deep investigation results for P-14, P-13, P-12
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

fix: P-14 aggregator ETF value from quantity*price + P-13 health report resolution stats
  output/playwright/dogfood/health-after-p14-p13-fix.png
  src-tauri/python/portfolio_src/core/pipeline.py
  src-tauri/python/portfolio_src/core/services/aggregator.py
  src-tauri/python/tests/test_pipeline_smoke.py
Due: none

docs: mark P-13 and P-14 as COMPLETE in plan
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

docs: P-19 discovered - validation gates show 0% despite 99.9% resolution
  docs/plans/2026-03-08-pipeline-stabilization-plan.md
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,cjs})) or (any of: *.{json,css})
