Repository Skeptomenos/Portfolio-Prism-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css}": ["prettier --write"]
}

feat(pnpm): install dependencies and generate pnpm-lock.yaml
  pnpm-lock.yaml
  ralph-wiggum/code/plan.md
Due: none

chore(build): update tauri.conf.json to use pnpm commands
  ralph-wiggum/code/plan.md
  src-tauri/tauri.conf.json
Due: prettier --write

chore(pnpm): complete npm->pnpm migration in scripts and CI workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  ralph-wiggum/code/plan.md
Due: prettier --write

feat(python): install and configure Ruff linter (Task 1.2)
  ralph-wiggum/code/plan.md
  src-tauri/python/pyproject.toml
  src-tauri/python/uv.lock
Due: none

feat(python): install and configure Mypy type checker (Task 1.3)
  AGENTS.md
  ralph-wiggum/code/plan.md
  src-tauri/python/pyproject.toml
  src-tauri/python/uv.lock
Due: none

feat(python): initialize Tach architecture enforcement (Task 1.4)
  src-tauri/python/pyproject.toml
  src-tauri/python/tach.toml
  src-tauri/python/uv.lock
Due: none

feat(python): configure pytest for test co-location discovery (Task 1.5)
  ralph-wiggum/code/plan.md
  src-tauri/python/pyproject.toml
  src-tauri/python/tests/headless/test_handlers_telemetry.py
  src-tauri/python/uv.lock
Due: none

feat(python): create DashboardService and extract P&L logic (Task 2.1)
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/core/services/__init__.py
  src-tauri/python/portfolio_src/core/services/dashboard_service.py
  src-tauri/python/portfolio_src/core/services/dashboard_service_test.py
  src-tauri/python/portfolio_src/headless/handlers/dashboard.py
  src-tauri/python/portfolio_src/models/__init__.py
  src-tauri/python/portfolio_src/models/dashboard.py
Due: none

feat(sync): extract SyncService from handlers/sync.py
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/core/services/__init__.py
  src-tauri/python/portfolio_src/core/services/sync_service.py
  src-tauri/python/portfolio_src/headless/handlers/sync.py
  src-tauri/python/portfolio_src/models/__init__.py
  src-tauri/python/portfolio_src/models/sync.py
Due: none

feat(frontend): create FSD directory structure and move auth feature (Task 2.4)
  ralph-wiggum/code/plan.md
  src/components/auth/index.ts
  src/components/views/TradeRepublicView.tsx
  src/features/auth/api.ts
  src/features/auth/components/LoginForm.test.tsx
  src/features/auth/components/LoginForm.tsx
  src/features/auth/components/SessionRestorePrompt.test.tsx
  src/features/auth/components/SessionRestorePrompt.tsx
  src/features/auth/components/TwoFactorModal.test.tsx
  src/features/auth/components/TwoFactorModal.tsx
  src/features/auth/index.ts
  src/features/auth/types.ts
Due: eslint --fix, prettier --write

feat(frontend): move dashboard feature components to FSD structure (Task 2.5)
  src/App.tsx
  src/components/MetricCard.tsx
  src/features/dashboard/api.ts
  src/features/dashboard/components/Dashboard.test.tsx
  src/features/dashboard/components/Dashboard.tsx
  src/features/dashboard/components/MetricCard.test.tsx
  src/features/dashboard/components/MetricCard.tsx
  src/features/dashboard/components/TopHoldingsCard.tsx
  src/features/dashboard/components/TrueExposureCard.tsx
  src/features/dashboard/index.ts
  src/features/dashboard/types.ts
Due: eslint --fix, prettier --write

feat(frontend): move portfolio feature components to FSD structure (Task 2.6)
  ralph-wiggum/code/plan.md
  src/App.tsx
  src/components/PortfolioChart.tsx
  src/components/portfolio/PortfolioTable.tsx
  src/components/views/TradeRepublicView.tsx
  src/features/dashboard/components/Dashboard.tsx
  src/features/portfolio/api.ts
  src/features/portfolio/components/HoldingsView.test.tsx
  src/features/portfolio/components/HoldingsView.tsx
  src/features/portfolio/components/PortfolioChart.tsx
  src/features/portfolio/components/PortfolioTable.tsx
  src/features/portfolio/index.ts
  src/features/portfolio/types.ts
Due: eslint --fix, prettier --write

feat(frontend): move xray feature components to FSD structure (Task 2.7)
  ralph-wiggum/code/plan.md
  reviews/PYTHON_TYPE_ISSUES.md
  src-tauri/python/portfolio_src/headless/handlers/sync.py
  src-tauri/python/portfolio_src/headless/state.py
  src-tauri/python/tests/headless/test_handlers_sync.py
  src/App.tsx
  src/components/views/XRayView.tsx
  src/components/views/xray/index.ts
  src/features/portfolio/components/HoldingsView.tsx
  src/features/xray/api.ts
  src/features/xray/components/ActionQueue.css
  src/features/xray/components/ActionQueue.tsx
  src/features/xray/components/FilterBar.css
  src/features/xray/components/FilterBar.tsx
  src/features/xray/components/HiveLog.css
  src/features/xray/components/HiveLog.tsx
  src/features/xray/components/NeedsAttentionSection.css
  src/features/xray/components/NeedsAttentionSection.tsx
  src/features/xray/components/PipelineStepper.css
  src/features/xray/components/PipelineStepper.tsx
  src/features/xray/components/ResolutionHealthCard.css
  src/features/xray/components/ResolutionHealthCard.tsx
  src/features/xray/components/ResolutionTable.css
  src/features/xray/components/ResolutionTable.tsx
  src/features/xray/components/XRayView.test.tsx
  src/features/xray/components/XRayView.tsx
  src/features/xray/components/index.ts
  src/features/xray/index.ts
  src/features/xray/types.ts
Due: eslint --fix, prettier --write

feat(frontend): move integrations feature components to FSD structure (Task 2.8)
  src/App.tsx
  src/components/views/HealthView.tsx
  src/features/integrations/api.ts
  src/features/integrations/components/HoldingsUpload.tsx
  src/features/integrations/components/TradeRepublicView.test.tsx
  src/features/integrations/components/TradeRepublicView.tsx
  src/features/integrations/components/index.ts
  src/features/integrations/index.ts
  src/features/integrations/types.ts
Due: eslint --fix, prettier --write

chore(frontend): verify FSD import paths and no circular deps (Task 2.9)
  ralph-wiggum/code/plan.md
Due: none

feat: standardize IPC envelope to use success boolean (Task 3.1 + 3.3)
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/headless/dispatcher.py
  src-tauri/python/portfolio_src/headless/responses.py
  src-tauri/python/portfolio_src/headless/transports/echo_bridge.py
  src-tauri/python/portfolio_src/headless/transports/stdin_loop.py
  src-tauri/python/portfolio_src/models/contracts.py
  src-tauri/python/tests/conftest.py
  src-tauri/python/tests/headless/test_dispatcher.py
  src-tauri/python/tests/headless/test_handlers_dashboard.py
  src-tauri/python/tests/headless/test_handlers_health.py
  src-tauri/python/tests/headless/test_handlers_holdings.py
  src-tauri/python/tests/headless/test_handlers_sync.py
  src-tauri/python/tests/headless/test_handlers_telemetry.py
  src-tauri/python/tests/headless/test_handlers_tr_auth.py
  src-tauri/python/tests/headless/test_responses.py
  src-tauri/python/tests/headless/test_sse_progress.py
  src-tauri/python/tests/headless/test_transports.py
  src-tauri/python/tests/test_headless_integration.py
  src-tauri/src/commands.rs
  src-tauri/src/python_engine.rs
  src/lib/ipc.test.ts
  src/lib/ipc.ts
  src/test/mocks/handlers.ts
Due: eslint --fix, prettier --write

feat: structured logging and Zod validation infra (Task 3.2 + 3.4)
  package.json
  pnpm-lock.yaml
  ralph-wiggum/code/plan.md
  src-tauri/python/diag_hive.py
  src-tauri/python/portfolio_src/headless/handlers/sync.py
  src-tauri/python/portfolio_src/headless/protocol.py
  src-tauri/python/portfolio_src/headless/transports/stdin_loop.py
  src/lib/ipc.ts
Due: eslint --fix, prettier --write

task(3.6): remove all any types from frontend
  ralph-wiggum/code/plan.md
  src/components/common/ErrorBoundary.tsx
  src/components/views/HealthView.test.tsx
  src/components/views/HealthView.tsx
  src/features/auth/schemas.ts
  src/features/auth/types.ts
  src/features/dashboard/schemas.ts
  src/features/dashboard/types.ts
  src/features/portfolio/components/HoldingsView.test.tsx
  src/features/xray/components/XRayView.tsx
  src/features/xray/types.ts
  src/hooks/usePipelineDiagnostics.ts
  src/lib/api/feedback.ts
  src/lib/ipc.test.ts
  src/lib/ipc.ts
  src/lib/schemas/health.ts
  src/lib/schemas/index.ts
  src/lib/scrubber.test.ts
  src/lib/scrubber.ts
  src/test/mocks/ipc.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: replace console.log with structured logger (Task 3.7)
  ralph-wiggum/code/plan.md
  src/App.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/feedback/FeedbackDialog.tsx
  src/components/views/HealthView.tsx
  src/features/integrations/components/TradeRepublicView.tsx
  src/features/portfolio/components/HoldingsView.tsx
  src/features/xray/components/XRayView.tsx
  src/hooks/usePipelineProgress.ts
  src/hooks/useTauriEvents.ts
  src/lib/api/feedback.ts
  src/lib/ipc.ts
  src/lib/logger.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/main.tsx
Due: eslint --fix, prettier --write

feat: refactor .then() chains to async/await (Task 3.8)
  ralph-wiggum/code/plan.md
  src/components/views/HealthView.tsx
  src/hooks/useTauriEvents.ts
Due: eslint --fix, prettier --write

feat: move Python unit tests to co-located positions (Task 3.9)
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/adapters/test_adapters.py
  src-tauri/python/portfolio_src/conftest.py
  src-tauri/python/portfolio_src/core/services/test_services.py
  src-tauri/python/portfolio_src/core/test_data_cleaner.py
  src-tauri/python/portfolio_src/core/test_normalizer.py
  src-tauri/python/portfolio_src/core/test_tr_auth.py
  src-tauri/python/portfolio_src/data/test_local_cache.py
  src-tauri/python/portfolio_src/data/test_pipeline_db.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_dashboard.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_health.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_holdings.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_sync.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_telemetry.py
  src-tauri/python/portfolio_src/headless/handlers/test_handlers_tr_auth.py
  src-tauri/python/portfolio_src/headless/test_dispatcher.py
  src-tauri/python/portfolio_src/headless/test_lifecycle.py
  src-tauri/python/portfolio_src/headless/test_responses.py
  src-tauri/python/portfolio_src/headless/test_state.py
  src-tauri/python/portfolio_src/headless/transports/test_transports.py
  src-tauri/python/portfolio_src/prism_utils/test_utils.py
Due: none

security: remove hardcoded dev-echo-bridge-secret fallbacks
  .env.example
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/headless/transports/echo_bridge.py
  src/lib/ipc.test.ts
  src/lib/ipc.ts
Due: eslint --fix, prettier --write

security: replace custom SHA-256 with js-sha256 library
  package.json
  pnpm-lock.yaml
  ralph-wiggum/code/plan.md
  src/lib/scrubber.ts
Due: eslint --fix, prettier --write

feat(backend): add Pydantic models for external API validation
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/data/schemas/__init__.py
  src-tauri/python/portfolio_src/data/schemas/external_api.py
  src-tauri/python/portfolio_src/data/schemas/test_external_api.py
Due: none

feat(backend): add Pydantic validation to enrichment and proxy client
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/data/enrichment.py
  src-tauri/python/portfolio_src/data/proxy_client.py
Due: none

refactor(backend): extract file IO from pipeline.py to SnapshotRepository
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/core/pipeline.py
  src-tauri/python/portfolio_src/data/snapshot_repo.py
Due: none

feat(frontend): add explicit return types to React components and hooks
  eslint.config.js
  ralph-wiggum/code/plan.md
  src/App.tsx
  src/components/GlassCard.tsx
  src/components/Sidebar.tsx
  src/components/SystemStatus.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/common/ErrorState.tsx
  src/components/common/PipelineProgressCard.tsx
  src/components/common/PipelineSummaryCard.tsx
  src/components/common/ResolutionStatusBadge.tsx
  src/components/common/UnresolvedIsinsList.tsx
  src/components/feedback/FeedbackDialog.tsx
  src/components/ui/Modal.tsx
  src/components/ui/Skeleton.tsx
  src/components/views/HealthView.tsx
  src/features/auth/components/LoginForm.tsx
  src/features/auth/components/SessionRestorePrompt.tsx
  src/features/auth/components/TwoFactorModal.tsx
  src/features/dashboard/components/Dashboard.tsx
  src/features/dashboard/components/MetricCard.tsx
  src/features/dashboard/components/TopHoldingsCard.tsx
  src/features/dashboard/components/TrueExposureCard.tsx
  src/features/integrations/components/HoldingsUpload.tsx
  src/features/integrations/components/TradeRepublicView.tsx
  src/features/portfolio/components/HoldingsView.tsx
  src/features/portfolio/components/PortfolioChart.tsx
  src/features/portfolio/components/PortfolioTable.tsx
  src/features/xray/components/ActionQueue.tsx
  src/features/xray/components/FilterBar.tsx
  src/features/xray/components/HiveLog.tsx
  src/features/xray/components/NeedsAttentionSection.tsx
  src/features/xray/components/PipelineStepper.tsx
  src/features/xray/components/ResolutionHealthCard.tsx
  src/features/xray/components/ResolutionTable.tsx
  src/features/xray/components/XRayView.tsx
  src/hooks/usePipelineDiagnostics.ts
  src/hooks/usePipelineProgress.ts
  src/hooks/usePortfolioData.ts
  src/hooks/useTauriEvents.ts
Due: eslint --fix, prettier --write

refactor(frontend): move orphan hooks to FSD feature slices
  src/components/SystemStatus.tsx
  src/components/common/PipelineProgressCard.tsx
  src/components/common/PipelineSummaryCard.tsx
  src/components/common/UnresolvedIsinsList.tsx
  src/components/views/HealthView.test.tsx
  src/components/views/HealthView.tsx
  src/features/portfolio/components/HoldingsView.test.tsx
  src/features/portfolio/hooks/usePortfolioData.test.tsx
  src/features/portfolio/hooks/usePortfolioData.ts
  src/features/portfolio/index.ts
  src/features/xray/components/XRayView.test.tsx
  src/features/xray/components/XRayView.tsx
  src/features/xray/hooks/usePipelineDiagnostics.ts
  src/features/xray/hooks/usePipelineProgress.ts
  src/features/xray/index.ts
Due: eslint --fix, prettier --write

docs: mark Task 3.2 complete in plan
  ralph-wiggum/code/plan.md
Due: none

refactor(store): split monolithic useAppStore into feature slices
  ralph-wiggum/code/plan.md
  src/features/auth/store/authSlice.ts
  src/features/dashboard/store/syncSlice.ts
  src/store/uiSlice.ts
  src/store/useAppStore.ts
Due: eslint --fix, prettier --write

feat(test): add Tauri transport mocking infrastructure
  ralph-wiggum/code/plan.md
  src/test/README.md
  src/test/mocks/ipc.ts
  src/test/mocks/server.ts
  src/test/mocks/tauri.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write

refactor(test): reorganize test directories and add integration setup
  e2e/.gitkeep
  package.json
  playwright.config.ts
  ralph-wiggum/code/plan.md
  tests/e2e/auth.spec.ts
  tests/e2e/dashboard.spec.ts
  tests/e2e/xray.spec.ts
  tests/integration/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: refactor 3 high-impact tests to use transport mocks (Task 4.3)
  ralph-wiggum/code/plan.md
  src/features/auth/components/LoginForm.test.tsx
  src/features/dashboard/components/Dashboard.test.tsx
  src/features/xray/components/XRayView.test.tsx
Due: eslint --fix, prettier --write

feat(xray): implement ActionModal for ETF holdings upload
  ralph-wiggum/code/plan.md
  src/features/xray/components/ActionModal.test.tsx
  src/features/xray/components/ActionModal.tsx
  src/features/xray/components/XRayView.tsx
  src/features/xray/components/index.ts
  src/lib/schemas/ipc.test.ts
  src/lib/schemas/ipc.ts
Due: eslint --fix, prettier --write

feat(engine): add Rust event listening from Python engine (Task 5.2)
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/python_engine.rs
Due: none

feat(xray): add feature-specific ErrorBoundary (Task 5.3)
  ralph-wiggum/code/plan.md
  src/features/xray/components/XRayErrorBoundary.test.tsx
  src/features/xray/components/XRayErrorBoundary.tsx
  src/features/xray/components/XRayViewWithBoundary.tsx
  src/features/xray/components/index.ts
  src/features/xray/index.ts
Due: eslint --fix, prettier --write

docs: create CONTRIBUTING.md with testing patterns and FSD guide (Task 5.4)
  CONTRIBUTING.md
  ralph-wiggum/code/plan.md
Due: none

fix(security): replace MD5 with SHA256 in Python hashing (Task 5.5)
  ralph-wiggum/code/plan.md
  src-tauri/python/portfolio_src/prism_utils/logging_config.py
  src-tauri/python/portfolio_src/prism_utils/telemetry.py
Due: none
