Repository Skeptomenos/Portfolio-Prism-App: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css}": ["prettier --write"]
}

Review: src/components/views/Dashboard.tsx - PASSED
  REVIEW_PLAN.md
  reviews/Dashboard_review.md
Due: none

Review: src/components/views/TradeRepublicView.tsx - PASSED
  REVIEW_PLAN.md
  reviews/TradeRepublicView_review.md
Due: none

Review: src/components/views/XRayView.tsx - PASSED
  REVIEW_PLAN.md
  reviews/XRayView_review.md
Due: none

Review: src/components/common/ErrorBoundary.tsx - PASSED
  REVIEW_PLAN.md
  reviews/ErrorBoundary_review.md
Due: none

Review: src/components/ui/Toast.tsx - PASSED
  REVIEW_PLAN.md
  reviews/Toast_review.md
Due: none

Review: src/components/feedback/FeedbackDialog.tsx - PASSED
  REVIEW_PLAN.md
  reviews/FeedbackDialog_review.md
Due: none

Review: src-tauri/tauri.conf.json - PASSED
  REVIEW_PLAN.md
  reviews/tauri_conf_json_review.md
Due: none

Review: infrastructure/cloudflare/wrangler.toml - PASSED
  REVIEW_PLAN.md
  reviews/wrangler_toml_review.md
Due: none

Review: vite.config.ts - PASSED
  REVIEW_PLAN.md
  reviews/vite_config_ts_review.md
Due: none

Review: .env.example - PASSED
  REVIEW_PLAN.md
  reviews/env_example_review.md
Due: none

Review: package.json - PASSED
  REVIEW_PLAN.md
  reviews/package_json_review.md
Due: none

Review: src-tauri/Cargo.toml - PASSED
  REVIEW_PLAN.md
  reviews/Cargo_toml_review.md
Due: none

Review: src-tauri/python/pyproject.toml - PASSED
  REVIEW_PLAN.md
  reviews/pyproject_toml_review.md
Due: none

Review: Mark all items complete - 5 high severity findings remain
  REVIEW_PLAN.md
Due: none

security: scrub credentials from error logs in IPC layer
  src/lib/ipc.ts
Due: eslint --fix, prettier --write

docs: mark Phase 1.1.1 complete in implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

security: remove credential retention in TwoFactorModal props
  IMPLEMENTATION_PLAN.md
  src/components/auth/TwoFactorModal.test.tsx
  src/components/auth/TwoFactorModal.tsx
  src/components/views/TradeRepublicView.tsx
Due: eslint --fix, prettier --write

fix(security): scrub PII from error messages in LoginForm
  IMPLEMENTATION_PLAN.md
  src/components/auth/LoginForm.tsx
Due: eslint --fix, prettier --write

security(auth): stop returning plaintext credentials via IPC
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/handlers/tr_auth.py
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
  src/components/views/TradeRepublicView.tsx
  src/lib/ipc.test.ts
  src/lib/ipc.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(security): Add Finnhub symbol/query input validation to worker.js
  IMPLEMENTATION_PLAN.md
  eslint.config.js
  infrastructure/cloudflare/worker.js
Due: eslint --fix, prettier --write

security(enrichment): remove direct Finnhub API fallback
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/enrichment.py
Due: none

security(resolution): remove direct Finnhub API fallback
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/resolution.py
Due: none

security(api-keys): remove unused security_mapper.py with direct API violation
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/core/security_mapper.py
Due: none

feat(security): Add ISIN and file path validation to upload_holdings command
  IMPLEMENTATION_PLAN.md
  src-tauri/src/commands.rs
Due: none

feat(validation): add ISIN validation to XtrackersAdapter
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/adapters/xtrackers.py
Due: none

feat(validation): add ISIN validation to VanguardAdapter
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/adapters/vanguard.py
Due: none

feat(validation): add ISIN validation + fix ISHARES_CONFIG_PATH bug in ishares.py
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/adapters/ishares.py
Due: none

feat(validation): add symbol/query input validation to ProxyClient
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/proxy_client.py
Due: none

feat(validation): add ISIN input validation to HiveClient
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/hive_client.py
  src-tauri/python/tests/test_isin_resolver_hive.py
Due: none

feat(validation): add ISIN validation to cache_adapter_data decorator
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/data/caching.py
Due: none

feat(security): add path traversal protection for PRISM_DATA_DIR and cookie files
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/handlers/tr_auth.py
  src-tauri/python/portfolio_src/prism_utils/validation.py
Due: none

feat(security): add IPC payload structure validation to dispatcher
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/dispatcher.py
  src-tauri/python/tests/headless/test_dispatcher.py
Due: none

feat(security): add payload validation for Python engine IPC
  IMPLEMENTATION_PLAN.md
  src-tauri/src/python_engine.rs
Due: none

fix(security): sanitize exception messages in dispatcher error responses
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/headless/dispatcher.py
  src-tauri/python/portfolio_src/headless/responses.py
Due: none

feat(validation): add type validation in tr_protocol deserialize_response
  IMPLEMENTATION_PLAN.md
  src-tauri/python/portfolio_src/core/tr_protocol.py
  src-tauri/python/tests/test_tr_protocol.py
Due: none

fix(security): escape AppleScript strings in error dialogs
  IMPLEMENTATION_PLAN.md
  src-tauri/src/lib.rs
Due: none

fix(security): sanitize error messages in TradeRepublicView before display
  IMPLEMENTATION_PLAN.md
  src/components/views/TradeRepublicView.tsx
  src/lib/errors.test.ts
  src/lib/errors.ts
Due: eslint --fix, prettier --write

feat(security): Add missing PII patterns and ReDoS protection to scrubber
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  src/lib/scrubber.test.ts
  src/lib/scrubber.ts
Due: eslint --fix, prettier --write

feat(security): tighten Cargo.toml version constraints + add cargo-deny
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  src-tauri/Cargo.toml
  src-tauri/deny.toml
Due: none

feat(security): pin Tauri deps + configure Dependabot
  .github/dependabot.yml
  IMPLEMENTATION_PLAN.md
  package.json
Due: prettier --write
